@model UniversityTimetable.Models.GroupViewModel
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <script type="text/javascript">
                $('form#addGroupForm').removeData("validator");
                $('form#addGroupForm').removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse($('form#addGroupForm'));
            </script>

            @using (Html.BeginForm("AddGroup", "Admin", FormMethod.Post, new { id = "addGroupForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add group</h4>
                </div>
                <div class="modal-body">

                    @Html.ValidationSummary()
                    
                    @Html.HiddenFor(m => m.Id, new { @value = Guid.NewGuid()})

                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Group name" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }

            <script>
                $('#addGroupForm').submit(function () {
                    var formData = $(this).serialize();
                        $.ajax({
                            url: this.action,
                            type: this.method,
                            data: $(this).serialize(),
                            success: function (result) {
                                if (result.success) {
                                    $('#myModal').modal('hide');
                                    var deserializedFormData = JSON.parse('{"' + decodeURI(formData).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g, '":"') + '"}');
                                    deserializedFormData.Id = result.id;
                                    self.insertItem(deserializedFormData);
                                    //Refresh page
                                    //location.reload();
                                } else {
                                    if (!$("#dbError").length) {
                                        $(".modal-body")
                                            .prepend('<div class="validation-summary-errors" id="dbError"><ul><li>' +
                                                result.errorMessage +
                                                '</li></ul></div>');
                                    }
                                }
                            }
                        });
                        return false;
                    });
            </script>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
