@using Newtonsoft.Json

@model IEnumerable<UniversityTimetable.Models.TimeTableViewModel>
@{
    ViewBag.Title = "TimeTables";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>TimeTables</h3>
<div data-bind="simpleGrid: gridViewModel" class="panel panel-default"> </div>
<button data-bind="click: addItem" class="btn btn-primary">Add item</button>

<button data-bind="click: jumpToFirstPage, enable: gridViewModel.currentPageIndex" class="btn btn-primary">
    Jump to first page
</button>

<div id="modalContainer">
</div>

@section scripts {
    <script>
        var PagedGridModel = function () {
            self = this;
            self.TimeTables = ko.observableArray(@Html.Raw(JsonConvert.SerializeObject(this.Model)));

            self.addItem = function() {
                $.ajax({
                        url: '@Url.Action("AddTimeTable", "Admin")',
                        type: "GET"
                    })
                    .done(function(partialViewResult) {
                        $("#modalContainer").html(partialViewResult);
                        $('#myModal').modal('show');
                    });
            };

            self.insertItem = function(item) {
                self.TimeTables.unshift(item);
            };

            @*self.editItem = function (item) {

                $.ajax({
                        url: '@Url.Action("EditGroup", "Admin")',
                        type: "GET",
                        data: "id=" + item.Id
                    })
                    .done(function (partialViewResult) {
                        $("#modalContainer").html(partialViewResult);
                        $('#myModal').modal('show');
                    });

            };

            self.updateItem = function (item) {
                var groupObj = JSON.parse('{"' + decodeURI(item).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g, '":"') + '"}');
                var groupId = groupObj.Id;

                var group = ko.utils.arrayFirst(self.Groups(), function(group) {
                    return group.Id === groupId;
                });

                self.Groups.replace(group, {
                    Id: groupObj.Id,
                    Name: groupObj.Name
                });
            };*@

            self.removeItem = function(item) {
                $.ajax({
                    url: '@Url.Action("DeleteTimeTable", "Admin")',
                    type: "GET",
                    data: "id=" + item.Id,
                    success: function(result) {
                        if (result.success) {
                            self.TimeTables.remove(item);
                        } else {
                            $("#modalContainer").html(result);
                            $('#myModal').modal('show');
                        }

                    }
                });

            };

            self.jumpToFirstPage = function () {
                self.gridViewModel.currentPageIndex(0);
            };


            self.gridViewModel = new ko.simpleGrid.viewModel({
                data: self.TimeTables,
                columns: [
                    { headerText: "Group", rowText: "GroupName" },
                    { headerText: "Start", rowText: "Start" },
                    { headerText: "Finish", rowText: "End" },
                    //{
                    //    headerText: "", rowText: {
                    //        edit: function (item) {
                    //            return function () {
                    //                self.editItem(item);
                    //            }
                    //        }
                    //    }
                    //},
                    {
                        headerText: "", rowText: {
                            timetable: function (item) {
                                return function () {
                                    $.ajax({
                                        url: '@Url.Action("RedirectToTimeTableEventsEditor", "Admin")',
                                        type: "GET",
                                        data: "id=" + item.Id,
                                        success: function(response){
                                            window.location.href = response;
                                        }
                                    });
                                    //.done(function (partialViewResult) {
                                    //    $("#modalContainer").html(partialViewResult);
                                    //    $('#myModal').modal('show');
                                    //});
                                }
                            }
                        }
                    },
                    {
                        headerText: "", rowText: {
                            delete: function (item) {
                                return function () {
                                    self.removeItem(item);
                                }
                            }
                        }
                    }
                ],
                pageSize: 6
            });
        }
        $(document).ready(function () {
            ko.applyBindings(new PagedGridModel());
        });

    </script>

}
