@{ Layout = "~/Views/Shared/_Blank.cshtml"; }

<!DOCTYPE html>
<html>

<body style="padding:10px">
    <form id="f" method="post" action="@Url.Action("New")">

        <h1>New Lesson</h1>

        <div>Text</div>
        <div>@Html.TextBox("Text")</div>

        <div>Start</div>
        <div>@Html.TextBox("Start")</div>

        <div>End</div>
        <div>@Html.TextBox("End")</div>

        @*<div>Resource</div>
            <div>@Html.DropDownList("Resource")</div>*@

        <div style="border-bottom: 2px solid #d0d0d0; margin-top:20px; margin-bottom: 10px;"></div>

        @*<p>
            <label for="repeat_weekly">Repeat weekly</label><input type="checkbox" name="repeat_weekly" onclick="showMe('recurrenceSection')" />
        </p>
        <div id="recurrenceSection" style="display:none;">
            <p>
                Repeat every <input id="weekly_every" style="width: 20px;" value="1" /> week(s).
            </p>

            <p>
                <div id="select_weekly_error" style="display:none; margin-top: 5px; padding: 2px; background-color: #FFF1A8;">Please select at least one day:</div>
                <table>
                    <tr>
                        <td>On days: </td>
                        <td><label for="weekly_0"><input type="checkbox" id="weekly_0" />Sun</label></td>
                        <td><label for="weekly_1"><input type="checkbox" id="weekly_1" />Mon</label></td>
                        <td><label for="weekly_2"><input type="checkbox" id="weekly_2" />Tue</label></td>
                        <td><label for="weekly_3"><input type="checkbox" id="weekly_3" />Wed</label></td>
                        <td><label for="weekly_4"><input type="checkbox" id="weekly_4" />Thu</label></td>
                        <td><label for="weekly_5"><input type="checkbox" id="weekly_5" />Fri</label></td>
                        <td><label for="weekly_6"><input type="checkbox" id="weekly_6" />Sat</label></td>
                    </tr>
                </table>
            </p>

            <div id="range">
                <div style="border-bottom: 2px solid #d0d0d0; margin-top:10px; margin-bottom: 10px;"></div>
                <p>
                    <label for="repeat_indefinitely"><input type="radio" name="repeat_range" id="repeat_indefinitely" />Repeat indefinitely</label>
                </p>
                <p>
                    <label for="repeat_until"><input type="radio" name="repeat_range" id="repeat_until" />Repeat until: </label><input id="repeat_until_value" style="width: 150px;" value="12/31/2099" />
                </p>
                <p>
                    <label for="repeat_times"><input type="radio" name="repeat_range" id="repeat_times" />Repeat </label><input id="repeat_times_value" style="width: 20px;" /> time(s).
                </p>
            </div>
        </div>*@

        <div class="space">&nbsp;</div>

        <div class="space">
            @Html.Hidden("Recurrence")
            <input type="submit" value="Save" id="ButtonSave" />
            <a href="javascript:close()">Cancel</a>
        </div>
    </form>

    <script type="text/javascript">

        function showMe(box) {

            var chboxs = document.getElementsByName("repeat_weekly");
            var vis = "none";
            for (var i = 0; i < chboxs.length; i++) {
                if (chboxs[i].checked) {
                    vis = "block";
                    break;
                }
            }
            document.getElementById(box).style.display = vis;
        }

        function close(result) {
            if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
                parent.DayPilot.ModalStatic.close(result);
            }
        }

        $("#f").submit(function () {
            var f = $("#f");
            $.post(f.action, f.serialize(), function (result) {
                close(eval(result));
            });
            return false;
        });

        $(document).ready(function () {
            $("#Text").focus();
        });

    </script>
</body>
</html>
