<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")" title="List View" class="navbar-brand">
                <img src="~/Content/img/stanforduniversity-white@2x.png" class="hidden-xs" />
                <img src="~/Content/img/stanforduniversity-white@2x-short.png" class="visible-xs" />
            </a>

            @*@Html.ActionLink("University Timetable", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("News", "News", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>

                @if (Request.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("manager")))
                {
                    <li>@Html.ActionLink("Admin panel", "Index", "Admin")</li>
                }
                @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

