<html lang="en">
<head>
    @Html.Partial("_HeadSectionPartial")

    @RenderSection("css", required: false)

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_HeaderPartial")

    <div class="container-fluid">

        @RenderBody()

        @Html.Partial("_FooterPartial")

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
