@model IEnumerable<UniversityTimetable.Models.NewsViewModel>

<div id="news" class="container">
    @foreach (var item in Model)
    {
        <article>
            <img src="@item.Img" alt="" style="width: 160px;" class="pull-left img-responsive" />
            <h2>@item.Title</h2>

            <p>@item.Content</p>
            <p>@item.Content</p>

            @Html.ActionLink("More...", "GetDetailNews", "Home", new { id = item.Id }, null)
        </article>
    }
</div>
